<fieldset class="inputs">
  <div class="form-group">
    <span class="form-label">
      <%= f.label :name %>
    </span>
    <span class="form-wrapper">
      <%= f.text_field :name, class: 'input-md-6 form-control' %>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :slug %>
    </span>
    <span class="form-wrapper">
      <%= f.text_field :slug, class: 'input-md-6 form-control' %>
    </span>
  </div>

  <% if f.object.new_record? %>
    <div class="form-group">
      <span class="form-label">
        <%= f.label :data_file %>
      </span>
      <span class="form-wrapper">
        <%= f.file_field :data_file, accept: 'text/csv' %>
      </span>
    </div>
  <% end %>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :source_of_data %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :source_of_data, rows: 10, class: 'form-control' %>
    </span>
    <p class="hint-text">Use to store relevant contact names, email addresses, etc.</p>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :location_match_type %>
    </span>
    <span class="form-wrapper">
      <%= f.select :location_match_type, service_location_match_type_options, {}, { class: 'input-md-2 form-control' } %>
    </span>
    <p class="hint-text">How places are matched for a given location.</p>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :local_authority_hierarchy_match_type %>
    </span>
    <span class="form-wrapper">
      <%= f.select :local_authority_hierarchy_match_type, service_local_authority_hierarchy_match_type_options, {},
          { 'module': 'form-value-dependent', 'form-value-dependent-elem': 'service_location_match_type', 'form-value-dependent-value': 'local_authority', class: 'input-md-2 form-control'}
      %>
    </span>
    <p class="hint-text">For services that use 'Local authority' location matching which council should be used for those areas that have a County and District hierarchy.</p>
  </div>
</fieldset>

<%= f.submit class: 'btn btn-success' %>
