<%= render "govuk_publishing_components/components/fieldset", {
  legend_text: "Service Details",
  heading_level: 2,
  heading_size: "m",
} do %>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Name",
    },
    id: "service-name-field",
    name: "service[name]",
    value: @service&.name,
    error_items: form_errors_for_field(@form_errors, "service[name]"),
  } %>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Slug",
    },
    id: "service-slug-field",
    name: "service[slug]",
    value: @service&.slug,
    hint: "Used to attach a service to a frontend Place object",
    error_items: form_errors_for_field(@form_errors, "service[slug]"),
  } %>

  <% if current_user.permissions.include?("GDS Editor") %>
    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: "Organisation Slugs",
      },
      name: "service[organisation_slugs]",
      value: @service&.organisation_slugs,
      hint: "For multiple owning organisations, list slugs separated by spaces",
    } %>
  <% end %>

  <%= render "govuk_publishing_components/components/textarea", {
    label: {
      text: "Source of data",
    },
    name: "service[source_of_data]",
    value: @service&.source_of_data,
    rows: 10,
    hint: "Use to store relevant contact names, email addresses, etc.",
  } %>

  <%= render "govuk_publishing_components/components/select", {
    id: "service[location_match_type]",
    label: "Location Match Type",
    options: service_location_match_type_options(@service&.location_match_type),
    hint: "How places are matched for a given location.",
  } %>

  <% Rails.logger.info(service_location_match_type_options(@service&.location_match_type)) %>

  <%= render "govuk_publishing_components/components/select", {
    id: "service[local_authority_hierarchy_match_type]",
    label: "Local Authority Hierarchy Match Type",
    options: service_local_authority_hierarchy_match_type_options(@service&.local_authority_hierarchy_match_type),
    hint: "For services that use 'Local authority' location matching which council should be used for those areas that have a County and District hierarchy.",
  } %>

  <% Rails.logger.info(service_local_authority_hierarchy_match_type_options(@service&.local_authority_hierarchy_match_type)) %>
<% end %>

<% if f.object.new_record? %>
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Initial Data Set",
    heading_level: 2,
    heading_size: "m",
  } do %>
    <div class="govuk-!-margin-bottom-5">
      <%= render "govuk_publishing_components/components/file_upload", {
        id: "service-data-file-field",
        label: { text: "Upload a file" },
        hint: "Accepts a CSV in the same format as the download option. Will create or overwrite any links provided.",
        name: "service[data_file]",
        accept: "text/csv",
        error_items: form_errors_for_field(@form_errors, "service[data_file]"),
      } %>
    </div>

    <%= render "/admin/data_sets/file_help" %>
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/button", { text: f.object.new_record? ? "Create" : "Update" } %>
