<ul class="row list-unstyled">
  <% @service.data_sets.current.reverse.each do |set| %>
    <li class="data_set col-md-4">
      <div class="well">
        <h4>
          <%= link_to "Version #{set.version}", admin_service_data_set_path(@service,set) %>
          <% if set.archiving? %>
            <span class="label label-default">Archiving</span>
          <% elsif set.active? %>
            <span class="label label-success">Active</span>
          <% else %>
            <span class="label label-default">Inactive</span>
          <% end %>
        </h4>

        <% if set.unarchived? && set.processing_complete? %>
          <div class="actions">
            <% unless set.active? %>
              <p><%= button_to "Activate", activate_admin_service_data_set_path(@service, set), :method => "POST", :class => 'btn btn-primary activate' %></p>
            <% end %>
            <%= button_to "Duplicate", duplicate_admin_service_data_set_path(@service, set), :method => "POST", :class => 'btn btn-default duplicate', :title => "Use the data from Version #{set.version} as a basis for a new version" %>
          </div>
        <% end %>

        <dl>
          <dt>Uploaded at</dt>
          <dd><%= set.created_at ? set.created_at.strftime("%d %b %Y") : "the beginning of time" %></dd>
          <dt>Change notes</dt>
          <dd><%= set.change_notes.blank? ? "None" : set.change_notes %></dd>
          <dt>Places</dt>
          <dd><%= set.places.count %></dd>
        </dl>

        <% if set.processing_complete? %>
          <p>
            Export:
            <%= link_to 'JSON', place_path(@service.slug, :version => set, :format => :json) %> /
            <%= link_to 'KML', place_path(@service.slug, :version => set, :format => :kml) %> /
            <%= link_to 'CSV', place_path(@service.slug, :version => set, :format => :csv) %>
          </p>
          <% if set.places.empty? %>
            <p class="label label-warning">There are no places associated with this data set. This may well mean the imported data was in the wrong format.</p>
          <% end %>
        <% elsif set.processing_error.present? %>
          <p class="label label-important"><%= set.processing_error %></p>
        <% else %>
          <p class="label label-info">Places data is currently being processed.</p>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
