<ul class="row">
  <% @service.data_sets.reverse.each do |set| %>
    <li class="well data_set span4">
      <div>
        <h4>Version <%= set.version %> <% if set.active? %><span class="label label-success">Active</span><% else %><span class="label">Inactive</span><% end %></h4>
        <% unless set.active? %>
          <%= button_to 'Activate', activate_admin_service_data_set_path(@service, set), :class=> 'btn btn-primary activate' %>
        <% end %>

        <dl>
          <dt>Uploaded at</dt>
          <dd><%= set.created_at ? set.created_at.strftime("%d %b %Y") : "the beginning of time" %></dd>
          <dt>Change notes</dt>
          <dd><%= set.change_notes.blank? ? "None" : set.change_notes %></dd>
          <dt>Places</dt>
          <dd><%= set.places.count %></dd>
        </dl>

        <p>
          Export:
          <%= link_to 'JSON', place_path(@service.slug, :version => set, :format => :json) %> /
          <%= link_to 'KML', place_path(@service.slug, :version => set, :format => :kml) %> /
          <%= link_to 'CSV', place_path(@service.slug, :version => set, :format => :csv) %>
        </p>
      </div>
    </li>
  <% end %>
</ul>
