<ul class="breadcrumb">
  <li><%= link_to "Services", admin_services_path %></li>
  <% if @place %>
    <li><%= link_to @service.name, admin_service_path(@service) %></li>
    <li><%= link_to "Version #{@data_set.version}", admin_service_data_set_path(@service, @data_set) %></li>
    <li class="active"><% if @place.new_record? %>New<% else %>Edit<% end %></li>
  <% elsif @data_set %>
    <li><%= link_to @service.name, admin_service_path(@service) %></li>
    <li class="active">Version <%= @data_set.version %></li>
  <% elsif @service %>
    <li class="active"><%= @service.name %></li>
  <% end %>
</ul>

<h2><%= @service.name %>
  <% if @service.active_data_set %>
    (Version <%= @service.active_data_set_version %> active: <%= pluralize(@service.active_data_set.places.count, 'place', 'places') %>)
  <% end %>
</h2>
