<% title = gds_editor? ? "All services" : "All services for #{org_name_for_current_user}" %>
<% content_for :page_title, title %>

<%= render "govuk_publishing_components/components/heading", {
  text: title,
  heading_level: 1,
  font_size: "l",
  margin_bottom: 5,
} %>

<% if gds_editor? %>
  <div class="govuk-width-container govuk-!-margin-bottom-5">
    <%= render "govuk_publishing_components/components/button", {
      text: "Add new service",
      href: new_admin_service_path,
    } %>
  </div>

  <p class="govuk-body">
    <% if @only_used %>
      <%= link_to("Show all services (#{@total_services - @services.count} hidden)", admin_services_path, class: "govuk-link") %>
    <% else %>
      <%= link_to("Hide services not used on GOV.UK", admin_services_path("only_used" => "true"), class: "govuk-link") %>
    <% end %>
  </p>
<% end %>

<% services_table_presenter = ServicesTablePresenter.new(@services, self) %>

<%= render "govuk_publishing_components/components/table", {
  filterable: true,
  label: "Filter Links",
  head: services_table_presenter.headers,
  rows: services_table_presenter.rows,
} %>
