<% content_for :page_title, "Add new service" %>
<div class="page-header">
  <h1>Add new service</h1>
</div>

<%= render '/admin/data_sets/file_help' %>

<%= semantic_form_for(@service, :url => admin_services_path, :html => {:multipart => true, class: 'well'}) do |f| %>
  <%= f.inputs do %>
    <%= f.input :name, input_html: {class: 'input-md-6'} %>
    <%= f.input :slug, input_html: {class: 'input-md-6'} %>
    <%= f.input :data_file, :as => :file, :accept => 'text/csv' %>
    <%= f.input :source_of_data, as: :text, hint: "Use to store relevant contact names, email addresses, etc.", input_html: {class: 'input-md-6'} %>
  <% end %>
  <%= f.actions do %>
    <%= f.submit "Create service", class: 'btn btn-success' %>
  <% end %>
<% end %>
