<%= render :partial => 'overview' %>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#current-data" data-toggle="tab">Active data set</a></li>
    <li><a href="#metadata" data-toggle="tab">Service details</a></li>
    <li><a href="#history" data-toggle="tab">Version history</a></li>
    <li><a href="#new-data" data-toggle="tab">Load new data set</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="current-data">
      <%= render '/admin/services/current' %>
    </div>
    <div class="tab-pane" id="metadata">
      <div class="well">
        <%= render '/admin/services/edit' %>
      </div>
    </div>
    <div class="tab-pane" id="history">
	    <%= render '/admin/services/history' %>
    </div>
    <div class="tab-pane" id="new-data">
      <%= render '/admin/services/new_data' %>
    </div>
  </div>

<% content_for :extra_javascript do %>
<script type="text/javascript" charset="utf-8">
  $(function () { $('.service-nav').tabs(); })
</script>
<% end %>
