<% content_for :page_title,  @service.name %>

<%= render partial: "shared/flash" %>

<%= render "govuk_publishing_components/components/heading", {
  text:  @service.name,
  heading_level: 1,
  font_size: "l",
  margin_bottom: 5,
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/summary_list", ServicePresenter.new(@service).summary_list(self) %>
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-side__wrapper">
      <div class="app-side">
        <div class="app-side__actions">
          <%= render "govuk_publishing_components/components/list", {
            items: [
              link_to("Edit service", edit_resource_path(@service), class: "govuk-link"),
              link_to("Upload new data set", new_admin_service_data_set_path(@service), class: "govuk-link"),
              link_to("Data sets", admin_service_data_sets_path(@service), class: "govuk-link"),
              link_to("Export active data set as JSON", place_path(@service.slug, version: @service.active_data_set, format: :json), class: "govuk-link"),
              link_to("Export active data set as KML", place_path(@service.slug, version: @service.active_data_set, format: :kml), class: "govuk-link"),
              link_to("Export active data set as CSV", place_path(@service.slug, version: @service.active_data_set, format: :csv), class: "govuk-link"),
            ],
            margin_bottom: 0,
          } %>
        </div>
      </div>
    </aside>
  </div>
</div>

<%= render @service.active_data_set %>
