<% content_for :page_title, @service.name %>
<%= render :partial => "overview" %>

<ul class="nav nav-tabs add-bottom-margin">
  <li class="active"><a href="#current-data" data-toggle="tab">Active data set</a></li>
  <li><a href="#metadata" data-toggle="tab">Service details</a></li>
  <li><a href="#history" data-toggle="tab">Version history</a></li>
  <li><a href="#new-data" data-toggle="tab">Load new data set</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="current-data">
    <%= render "/admin/services/current" %>
  </div>
  <div class="tab-pane" id="metadata">
    <div class="well">
      <%= render "/admin/services/edit" %>
    </div>
  </div>
  <div class="tab-pane" id="history">
    <%= render "/admin/services/history" %>
  </div>
  <div class="tab-pane" id="new-data">
    <%= render "/admin/services/new_data" %>
  </div>
</div>
