<h2>Viewing &ldquo;<%= @service.name %>&rdquo;</h2>

<% if @service.data_sets.any? && @service.data_sets.last.places.empty? %>
<p class="alert">There are no places associated with your last data set. This may well mean the imported data was in the wrong format.</p>
<% end %>

<% if @service.active_data_set %>
  <h3>Version <%= @service.active_data_set_version %> active: <%= pluralize(@service.active_data_set.places.count, 'place', 'places') %>.</h3>
<% end %>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#current-data" data-toggle="tab">Current Data</a></li>
    <li><a href="#metadata" data-toggle="tab">About the Service</a></li>
    <li><a href="#history" data-toggle="tab">History</a></li>
    <li><a href="#new-data" data-toggle="tab">Load New Data Set</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="current-data">
      <%= render '/admin/services/current' %>
    </div>
    <div class="tab-pane" id="metadata">
      <div class="well">
        <%= render '/admin/services/edit' %>
      </div>
    </div>
    <div class="tab-pane" id="history">
	    <%= render '/admin/services/history' %>
    </div>
    <div class="tab-pane" id="new-data">
      <div class="well">
        <%= render '/admin/services/new_data' %>
      </div>
    </div>
  </div>

<% content_for :extra_javascript do %>
<script type="text/javascript" charset="utf-8">
  $(function () { $('.service-nav').tabs(); })
</script>
<% end %>
