  <%= f.inputs do %>
    <%= f.input :title %>
    <% if params[:action] == 'edit' %>
      <%= f.input :business_support_identifier %>
    <% end %>
    <label for="business_support_scheme[priority]">Priority</label>
    <%= f.select :priority, [["Low",0],["Normal",1],["High",2]] %>
    <label for="business_support_scheme[start_date]">Start Date</label>
    <%= f.date_select :start_date %>
    <label for="business_support_scheme[end_date]">End Date</label>
    <%= f.date_select :end_date %>

    <%= render partial: "facets", locals: { f: f,
                                            title: "Business types",
                                            collection: @business_types,
                                            model_collection: "business_types" } %>

    <%= render partial: "facets", locals: { f: f,
                                            title: "Locations",
                                            collection: @locations,
                                            model_collection: "locations" } %>

    <%= render partial: "facets", locals: { f: f,
                                            title: "Purposes",
                                            collection: @purposes,
                                            model_collection: "purposes" } %>

    <%= render partial: "facets", locals: { f: f,
                                            title: "Sectors",
                                            collection: @sectors,
                                            model_collection: "sectors" } %>

    <%= render partial: "facets", locals: { f: f,
                                            title: "Stages",
                                            collection: @stages,
                                            model_collection: "stages" } %>

    <%= render partial: "facets", locals: { f: f,
                                            title: "Support types",
                                            collection: @types,
                                            model_collection: "support_types" } %>
  <% end %>
