<%= semantic_form_for(@scheme, :url => admin_business_support_scheme_path(@scheme)) do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :business_support_identifier %>
    <% @locations.each do |location| -%>
      <label for="business_support_scheme[business_support_location_ids][]">
        <%= f.check_box "business_support_location_ids", { :multiple => true }, location._id, nil %>
        <%= location.name %>
      </label>
    <% end %>
    <% @sectors.each do |sector| -%>
      <label for="business_support_scheme[business_support_sector_ids][]">
        <%= f.check_box "business_support_sector_ids", { :multiple => true }, sector._id, nil %>
        <%= sector.name %>
      </label>
    <% end %>
  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button "Update Business Support", :button_html => {:class => 'btn btn-primary'} %>
  <% end %>
<% end %>
