<h2>Editing <%= @scheme.title %></h2>
<%= semantic_form_for(@scheme, :url => admin_business_support_scheme_path(@scheme)) do |f| %>

  <%= render partial: 'form', locals: { f: f } %>

  <%= f.buttons do %>
    <%= f.commit_button "Update Business Support", :button_html => {:class => 'btn btn-primary'} %>
  <% end %>
<% end %>
