<%= render "govuk_publishing_components/components/heading", {
  text: "Places",
  heading_level: 2,
  font_size: "m",
  margin_bottom: 5,
} %>

<p class="govuk-body">
  <% if @only_errors %>
    <% places = data_set.places.with_geocoding_errors.page(requested_page).per(100) %>
    <a href="<%= resource_path %>" class="govuk-link">Show all places (<%= data_set.places.count - data_set.places.with_geocoding_errors.count %> hidden)</a>
  <% else %>
    <% places = data_set.places.page(requested_page).per(100) %>
    <a href="<%= resource_path("only_errors" => "true") %>" class="govuk-link">Show only places with errors</a>
  <% end %>
</p>

<% places_table_presenter = PlacesTablePresenter.new(data_set, places, self) %>

<%= render "govuk_publishing_components/components/table", {
  label: "Places",
  head: places_table_presenter.headers,
  rows: places_table_presenter.rows,
  } %>

<%= paginate places, theme: "gds" %>
