<section class="panel panel-default">
  <header class="panel-heading">
    <h3 class="panel-title">
      Version <%= data_set.version %>
      <% if data_set.active? %><span class="label label-success">Active</span><% else %><span class="label label-default">Inactive</span><% end %>
    </h3>
  </header>
  <div class="panel-body">
    <% if data_set.processing_complete? %>
      <% unless data_set.active? %>
        <%= button_to "Activate", activate_admin_service_data_set_path(@service, data_set), :class=> "btn btn-primary activate" %>
      <% end %>

      <%= render partial: "/admin/data_sets/status", locals: { service: @service, dataset: data_set } %>
      <hr>
      <%= render partial: "/admin/data_sets/export", locals: { service: @service, dataset: data_set } %>

      <% if data_set.number_of_places.zero? %>
        <p class="alert alert-warning">No places are associated with this set. The imported data could be in the wrong format.</p>
      <% end %>
    <% elsif data_set.processing_error.present? %>
      <p class="label label-important"><%= data_set.processing_error %></p>
    <% else %>
      <p class="label label-info">Places data is currently being processed.</p>
    <% end %>
  </div>
</section>

<%= render :partial => "/admin/data_sets/data_set_explore", :locals => {:data_set => data_set} if data_set.processing_complete? %>
