<% content_for :page_title, "Upload New Data Set" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render "govuk_publishing_components/components/heading", {
      text:  "Upload New Data Set",
      heading_level: 1,
      font_size: "l",
      margin_bottom: 5,
    } %>

    <% if @form_errors %>
      <%= render "govuk_publishing_components/components/error_summary", title: "Unable to create new data set", items: @form_errors %>
    <% end %>

    <%= form_for(@service, multipart: true, url: admin_service_data_sets_path(@service), method: :POST) do |f| %>
      <div class="govuk-!-margin-bottom-5">
        <%= render "govuk_publishing_components/components/file_upload", {
        id: "data-set-data-file-field",
        label: { text: "Upload a file" },
        hint: "Accepts a CSV in the same format as the download option. Will create or overwrite any links provided.",
        name: "data_set[data_file]",
        accept: "text/csv",
        error_items: form_errors_for_field(@form_errors, "data_set[data_file]"),
        } %>
      </div>

      <%= render "/admin/data_sets/file_help" %>

      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Change notes",
        },
        name: "data_set[change_notes]",
        rows: 10,
      } %>

      <%= render "govuk_publishing_components/components/button", { text: "Upload" } %>
    <% end %>
  </div>
</div>
