<% content_for :page_title, @data_set.service.name %>
<%= render 'admin/services/overview' %>

<section class="panel panel-default">
  <header class="panel-heading">
    <h4 class="panel-title">Upload a new data set</h4>
  </header>
  <div class="panel-body">
    <%= render '/admin/data_sets/file_help' %>
    <%= form_for(@data_set, url: admin_service_data_sets_path(@data_set.service)) do |f| %>
      <fieldset>
        <div class="form-group">
          <span class="form-label">
            <%= f.label :data_file %>
          </span>
          <span class="form-wrapper">
            <%= f.file_field :data_file, accept: 'text/csv' %>
          </span>
        </div>

        <div class="form-group">
          <span class="form-label">
            <%= f.label :change_notes, "Change note" %>
          </span>
          <span class="form-wrapper">
            <%= f.text_area :change_notes, rows: 10, class: 'input-md-6 form-control' %>
          </span>
        </div>
      </fieldset>
      <%= f.submit "Create Data set", class: 'btn btn-primary' %>
    <% end %>
  </div>
</section>
