<% content_for :page_title, @data_set.service.name %>
<%= render 'admin/services/overview' %>

<section class="panel panel-default">
  <header class="panel-heading">
    <h4 class="panel-title">Upload a new data set</h4>
  </header>
  <div class="panel-body">
    <%= render '/admin/data_sets/file_help' %>
    <%= semantic_form_for(@data_set, :url => admin_service_data_sets_path(@data_set.service), :html => {:multipart => true}) do |f| %>
      <%= f.inputs do %>
        <%= f.input :data_file, :as => :file, :accept => 'text/csv' %>
        <%= f.input :change_notes, :as => :text, :label => "Change note",  input_html: {class: 'input-md-6'}%>
      <% end %>
      <%= f.actions do %>
        <%= f.submit "Create Data set", class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</section>
