<% environment = GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment %>

<% content_for :head do %>
  <%= javascript_include_tag "es6-components", type: "module" %>
<% end %>

<% content_for :body do %>
  <main id="content">
    <%= yield %>
  </main>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_admin", {
  environment:,
  product_name: t("product_name"),
  browser_title: (yield :page_title),
} do %>
  <%= render "govuk_publishing_components/components/layout_header", {
    product_name: t("product_name"),
    environment:,
    navigation_items: [
      {
        text: "Services",
        href: root_path,
        active: current_page?(root_path),
      },
      {
        text: "Switch app",
        href: Plek.external_url_for("signon"),
      },
    ],
  } %>

  <div class="govuk-width-container">

  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: @breadcrumbs,
  } %>

  <div class="govuk-main-wrapper">
    <%= yield :body %>
  </div>

</div>

<%= render "govuk_publishing_components/components/layout_footer" %>
<% end %>
