<% content_for :app_title, 'GOV.UK Imminence' %>
<% content_for :page_title, ' | GOV.UK Imminence' %>
<% content_for :head do %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application' %>
  <%= yield :extra_headers %>
<% end %>

<% content_for :navbar_items do %>
  <%= nav_link 'All data sets', admin_root_path %>
<% end %>

<% content_for :navbar_right do %>
  <%= link_to current_user.name, Plek.current.find('signon') %>
  &bull; <%= link_to 'Sign out', gds_sign_out_path %>
<% end %>

<% content_for :content do %>
  <% [:notice, :alert].select { |k| flash[k].present? }.each do |k| %>
    <div class="alert <%= k %>">
      <%= flash[k] %>
    </div>
  <% end %>
  <%= yield %>
<% end %>

<% content_for :footer_version, CURRENT_RELEASE_SHA %>

<%# use the govuk_admin_template layout %>
<%= render :template => 'layouts/govuk_admin_template' %>
